.app {
  
   background-color: #F7F9FC;
   width: 100vw;
   height: 100vh;
   display: grid;
   justify-content: center;
   align-items: center;
   /* place-items: center; */
  
   /* border: 1px solid green; */
  
}

.app__body{
  width: 90vw;
  height: 90vh;
  background-color: #FFFFFF;
  display: flex;
  border-radius: 30px;
  /* border: 1px solid green; */
  

}


